{% extends "base.html" %}

{% block title %}{{ section.title }} - {{ config.title }}{% endblock title %}

{% block content %}
  <header class="page-header">
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}
  </header>

  {% if section.pages %}
    <ol class="rows" role="list">
      {% for page in section.pages %}
        <li class="row">
          <a class="row-link" href="{{ page.permalink }}">
            <span class="row-title">{{ page.title }}</span>
            {% if page.description %}
              <span class="row-meta">{{ page.description }}</span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ol>
  {% endif %}
{% endblock content %}
